* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 16px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

/* body.mobile {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

header {
  /* position: absolute; */
  top: 2rem;

  display: flex;
  /* align-items: center; */
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  row-gap: 3rem;
  height: 4rem;
  width: 30rem;
}

h1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.logo__wrapper {
  height: 4rem;
  width: 4rem;
}

img {
  position: relative;
  /* width: 70rem; */
  height: 20rem;
  width: 20rem;
  left: 25rem;
  top: 10rem;
  /* max-width: 60%; */
  /* max-height: 85%; */
  visibility: hidden
}
.animationEnd__wrapper {
  position: absolute;
  height: 46rem;
  width: 46rem;
  /* background-color: aqua; */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

a {
  text-decoration: auto;
  color: black;
  transition: transform 50ms, color 600ms;
  transition-timing-function: ease-in-out;
}
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(110, 158, 212);
  transform: scale(1.05);
}